html {
  scroll-behavior: smooth;
}

body,
html {
  margin: 0;
  padding: 0;
  color: #585858;
}

* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.wrapper-full {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.wrapper {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .wrapper {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .wrapper {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .wrapper {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .wrapper {
    max-width: 1140px;
  }
}

.img-responsive {
  max-width: 100%;
  display: block;
}

.img-fluid {
  width: 100%;
}

.d-grid {
  display: grid;
}

.d-flex {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

button,
input,
select {
  -webkit-appearance: none;
  outline: none;
}

button,
.btn,
select {
  cursor: pointer;
}

a {
  text-decoration: none;
}

iframe {
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.p-fixed {
  position: fixed;
}

.p-sticky {
  position: -webkit-sticky;
  position: sticky;
}

body a:hover,
body button:hover {
  opacity: .8;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  color: #050404;
}

p {
  color: #585858;
}

.error-page .covers-main {
  background: url(../../img/error.jpg) no-repeat center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  position: relative;
  z-index: 0;
  min-height: 100vh;
  align-items: center;
  display: grid;
  max-width: 100%;
}

.error-page .covers-main:before {
  content: "";
  background: rgba(16, 16, 16, 0.4);
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
}

.error-page .main-cover {
  max-width: 510px;
  margin: 0 auto;
}

.error-page a.logo {
  color: #fff;
  font-size: 32px;
  font-weight: 100;
  margin-bottom: 1rem;
  display: inline-block;
  line-height: 44px;
}

.error-page .cover-para {
  color: #fff;
  line-height: 120px;
  font-size: 180px;
  margin-bottom: 50px;
  font-weight: 600;
}

.error-page h4.cover-para span {
  font-size: 150px;
}

.error-page p.form-text {
  font-size: 17px;
  line-height: 25px;
  color: #eee;
}

.error-page a.back-button {
  border: none;
  font-weight: 600;
  display: inline-block;
  font-size: 16px;
  color: #fff;
  background: rgba(255, 255, 255, 0.16);
  text-align: center;
  padding: 12px 18px;
  margin-top: 4em;
  box-shadow: 0px 3px 4px 2px rgba(14, 14, 14, 0.04);
}

.copyright p {
  font-size: 15px;
  color: #ccc;
  line-height: 20px;
  margin-top: 4rem;
}

.copyright p a {
  color: #fff;
}

@media screen and (max-width: 568px) {
  .error-page a.logo {
    font-size: 35px;
  }

  .error-page p.page-detail {
    font-size: 18px;
  }

  .error-page a.back-button {
    margin-top: 3em;
  }

  .error-page .cover-para {
    font-size: 130px;
    margin-bottom: 20px;
  }

  .error-page .cover-para {
    font-size: 160px;
  }

  .error-page h4.cover-para span {
    font-size: 130px;
  }
}

@media screen and (max-width: 384px) {
  .error-page p.form-text {
    font-size: 16px;
  }

  .error-page .cover-para {
    font-size: 130px;
  }

  .error-page h4.cover-para span {
    font-size: 110px;
  }
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-outline-light {
  color: #f8f9fa;
  border-color: #f8f9fa;
}
.btn-outline-light:hover {
  color: #000;
  border-color: #f8f9fa;
  background-color: #fff;
}