.map{
    height: 400px;
    width: 100%;
}

#world-map{
    position: fixed;
    top: 0;
    left: 0;

}

.spravaOnIndex{
    position: absolute;
    bottom: 0;
    right: 50%;
}

#returnToIndex{
    z-index: 10;
    position: fixed;
    top: 0;
    right: 1em;
    background-color: white;
    padding: 2px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    filter: blur(0);
}

#m{
    padding: 20px;
    height: 300px;
    width: available;
}
#mapaCeska{
    overflow: hidden;
    position: relative;
    top: 0;
}

#exampleModal{
    z-index: 10001;
}

.modal-dialog{
    width: 80%;
}
.leftSideBar{
    float: right;
    height: 90%;
    padding-left: 20px;
}

.leftSideBarBackgroundColor{
    background-color: whitesmoke;
    height: 100%;
    border-radius: 10px;
}

.jvectormap-region {
    fill: #ececec;
    stroke: black;
    stroke-width: 0.5;
}

.sideBarHeightCustom{
    height: inherit;
}

.trip-create{
    width: 100%;
}

.topnavA{
  color: white!important;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
}

.btn_to_input_file {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
.bluredBckgrnd{
    filter: blur(4px);
    -webkit-filter: blur(4px);
    -ms-filter: blur(4px);
}

img {
    max-width: none;
}
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

body {
    background: #ffffff;
    color: #414141;
    font: 400 17px/2em 'Source Sans Pro', sans-serif !important;
    overflow: hidden;
}

.select-box {
    cursor: pointer;
    position : relative;
    max-width:  20em;
    margin: 5em auto;
    width: 100%;
}

.select,
.label {
    color: #414141;
    display: block;
    font: 400 17px/2em 'Source Sans Pro', sans-serif;
}

.select {
    width: 100%;
    position: absolute;
    top: 0;
    padding: 5px 0;
    height: 40px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    background: none transparent;
    border: 0 none;
}
.select-box1 {
    background: #ececec;
    position: absolute;
    top: 0;
    padding: 5px 0;
    height: 40px;
}

.label {
    position: relative;
    padding: 5px 10px;
    cursor: pointer;
}
.open .label::after {
    content: "▲";
}
.label::after {
    content: "▼";
    font-size: 12px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px 15px;
    border-left: 5px solid #fff;
}

.float-right-icon{
    padding: 20px 0 0;
    float: right;
    margin: 0 0.25em 0 0.25em;
}

.cursor{
    cursor: pointer;
}

.float-left{
    float: left;
}


.row > .column {
    padding: 0 8px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.ekko-lightbox{
    background-color: #191919 !important;
}

.gps{
    display: none;
}

.showGps{
    display: inherit;
}

.dot {
    height: 30px;
    width: 30px;
    background-color: darkred;
    border-radius: 50%;
    display: inline-block;
}

body.modal-open #content{
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.show{
    background-color: transparent !important;
}

.menu-top{
    position: fixed;
    left: 38.5vw;
    top: 0;
    z-index: 1000;
}

.black a{
    color: black !important;
}
.ui-datepicker{
    width: auto !important;
}
.dateFrom,.dateTo{
    width: 80%;
}


.country-label{
    font-size: 20px !important;
}

.country-checkbox{
    margin-right: 5px !important;
}

.custom-date-picker [type="date"] {
    background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}

.custom-date-picker [type="date"]::-webkit-inner-spin-button {
    display: none;
}

.custom-date-picker [type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}

.custom-date-picker label {
    display: block;
}

.custom-date-picker input {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
    padding: 3px 5px;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
    width: 190px;
}

.to-approve-checkbox {
    width: 20px;
    height: 20px;
    margin-top: 8px !important;
}