<div
      id="content-bottom-border" class="container" >

<div id="base"
     xmlns:th="https://www.thymeleaf.org"
     th:fragment="footer"
>
    <div class="container padding-vert-30 margin-top-60">
        <div class="row">
            <!-- Contact Details -->
            <div class="col-md-4 margin-bottom-20">
                <h3 class="margin-bottom-10">Kontakt</h3>
                <p>
                    <span class="fa fa-phone">Telefon: </span>+420 000 000 000
                    <br>
                    <span class="fa fa-envelope">Email:</span>
                    <a href="mailto:info@joomla51.com">info@joomla51.com</a>
                    <br>

                </p>

            </div>
            <!-- End Contact Details -->
            <!-- Sample Menu -->
            <div class="col-md-3 margin-bottom-20">
                <h3 class="margin-bottom-10">Menu</h3>
                <ul class="nav nav-pills nav-stacked">
                    <li role="presentation"
                        th:attr="class=${#httpServletRequest.requestURI == '/index' || #httpServletRequest.requestURI == '' ? 'active black' : ''}">
                        <a th:href="@{/index}" class="fa fa-home">Domů</a>
                    </li>
                    <li role="presentation" class="disabled " th:if="${#authentication.name == 'anonymousUser'}">
                        Registrace/Přihlášení
                        <ul class="nav nav-pills nav-stacked">
                            <li role="presentation" style="margin-left: 20px"
                                th:attr="class=${#httpServletRequest.requestURI == '/login' ? 'active black' : ''}">
                                <a class="fa fa-sign-in" th:href="@{/login}">Přihášení</a>
                            </li>
                            <li role="presentation" style="margin-left: 20px"
                                th:attr="class=${#httpServletRequest.requestURI == '/pages-sign-up' ? 'active black' : ''}">
                                <a class="fa fa-user" th:href="@{/pages-sign-up}">Registrace</a>
                            </li>
                        </ul>
                    </li>
                    <li role="presentation"
                        th:attr="class=${#httpServletRequest.requestURI == '/blog-list' ? 'active black' : ''}">
                        <a class="fa fa-font" th:href="@{/blog-list}">Blog</a>
                    </li>
                    <li th:if="${#authentication.name != 'anonymousUser'}" role="presentation" >
                        <a href="/logout" class="fa fa-sign-out">Odhlásit se</a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <!-- End Sample Menu -->
            <div class="col-md-1"></div>
            <!-- Disclaimer -->
            <div class="col-md-3 margin-bottom-20 ">
                <h3 class="margin-bottom-10">Neváhejte a napište nám</h3>


            </div>
            <!-- End Disclaimer -->
            <div class="clearfix"></div>
        </div>
    </div>

    <div id="footer">
        <div class="container show">
            <div class="row ">
                <div id="footermenu" class="col-md-8">

                </div>
                <div id="copyright" class="col-md-4">
                    <p class="pull-right">(c) 2020 Copyright Info</p>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- Footer Menu -->

</div>