<div th:fragment="recentPosts" class="recent-posts"  xmlns:th="https://www.thymeleaf.org">
    <h3>Recent Posts</h3>
    <ul class="posts-list margin-top-10">
        <li>
            <div class="recent-post">
                <a href="">
                    <img class="pull-left" src="assets/img/blog/thumbs/thumb1.jpg" alt="thumb1">
                </a>
                <a href="#" class="posts-list-title">Sidebar post example</a>
                <br>
                <span class="recent-post-date">
                                                July 30, 2013
                                            </span>
            </div>
            <div class="clearfix"></div>
        </li>
        <li>
            <div class="recent-post">
                <a href="">
                    <img class="pull-left" src="assets/img/blog/thumbs/thumb2.jpg" alt="thumb2">
                </a>
                <a href="#" class="posts-list-title">Sidebar post example</a>
                <br>
                <span class="recent-post-date">
                                                July 30, 2013
                                            </span>
            </div>
            <div class="clearfix"></div>
        </li>
        <li>
            <div class="recent-post">
                <a href="">
                    <img class="pull-left" src="assets/img/blog/thumbs/thumb3.jpg" alt="thumb3">
                </a>
                <a href="#" class="posts-list-title">Sidebar post example</a>
                <br>
                <span class="recent-post-date">
                                                July 30, 2013
                                            </span>
            </div>
            <div class="clearfix"></div>
        </li>
        <li>
            <div class="recent-post">
                <a href="">
                    <img class="pull-left" src="assets/img/blog/thumbs/thumb4.jpg" alt="thumb4">
                </a>
                <a href="#" class="posts-list-title">Sidebar post example</a>
                <br>
                <span class="recent-post-date">
                                                July 30, 2013
                                            </span>
            </div>
            <div class="clearfix"></div>
        </li>
    </ul>
</div>