<div th:fragment="navbar" id="hornav" class="container no-padding"
     xmlns:th="https://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security3"

>
    <div class="row menu-top">
        <div class="col-md-12 no-padding">
            <div id="hornavZIndex" class="text-center visible-lg">
                <ul id="hornavmenu" class="nav navbar-nav">
                    <li>
                        <span>
                             <a th:href="@{/index}" class="fa-home topnavA">Domů</a>
                        </span>

                    </li>
                    <li th:if="${#authentication.authorities[0].authority == 'ADMIN'}">
                        <span >
                            <a class="fa-gears topnavA">
                                Správa
                                <span class="dot" id="notificationTop" >
                                </span>

                            </a>
                        </span>
                        <ul>

                            <li>
                                <a th:href="@{/admin}">Správa uživatele</a>
                            </li>
                            <li>
                                <a id="notificationBot" th:href="@{/blog-list-admin}" th:text="${'Čeká na shcválení  '}"></a>
                            </li>
                            <li>
                                <a th:href="@{/admin/createIndexPage}">Vytvořit úvodní text</a>
                            </li>

                        </ul>

                    </li>
                    <li th:if="${#authentication.name == 'anonymousUser'}">
                        <span class="fa-user">Registrace/Login</span>
                        <ul>

                            <li>
                                <a th:href="@{/login}">Login</a>
                            </li>
                            <li>
                                <a th:href="@{/pages-sign-up}">Registrace</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <span>
                        <a class="fa fa-font topnavA" th:href="@{/blog-list}">Blog</a>
                        </span>

                    </li>
                    <li th:if="${#authentication.name != 'anonymousUser'}">

                        <span>
                             <a href="/logout" class="fa-comment topnavA">Logout</a>

                        </span>



                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>