<!-- === BEGIN HEADER === -->
<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>

<!--<![endif]-->
<head th:replace="fragments/importHead :: importTop(title = 'Home')"></head>

<body  onload="getNotifications()">
<div id="body-bg">
    <ul class="social-icons pull-right hidden-xs">
        <li class="social-rss">
            <a href="#" target="_blank" title="RSS"></a>
        </li>
        <li class="social-twitter">
            <a href="#" target="_blank" title="Twitter"></a>
        </li>
        <li class="social-facebook">
            <a href="#" target="_blank" title="Facebook"></a>
        </li>
        <li class="social-googleplus">
            <a href="#" target="_blank" title="GooglePlus"></a>
        </li>
    </ul>
</div>

<!-- Top Menu -->
<div th:replace="~{fragments/topnav :: navbar}"></div>
<!-- End Top Menu -->
<div id="post_header" class="container" style="height:340px">
</div>
<div id="content-top-border" class="container">
</div>
<!-- === END HEADER === -->
<!-- === BEGIN CONTENT === -->
<div id="content">
    <div class="container no-padding">
        <div class="row">
            <!-- Carousel Slideshow OR MEINE MAPE-->
            <div id="world-map" style="max-width: 1080px; height: 700px;"></div>
            <script>
                $(function () {
                    $('#world-map').vectorMap({
                        map: 'europe_mill',
                        series: {
                            regions: [{
                                values: gdpData,
                                scale: ['#C8EEFF'],
                                normalizeFunction: 'polynomial'
                            }]
                        },
                        onRegionTipShow: function (e, el, code) {
                            el.html(el.html() + ' (Počet tripů - ' + gdpData[code] + ')');
                        },
                        onRegionClick: function (e, code) {
                            window.location.href = '/blog-list/' + countryCodeToName[code];
                        }
                    });
                });
            </script>
            <!-- End Carousel Slideshow -->
        </div>
    </div>
    <div class="container background-gray-lighter">
        <div class="row margin-vert-40">
            <div class="col-md-4">
                <div class="col-md-4">
                    <i class="fa-clock-o fa-5x color-primary"></i>
                </div>
                <div class="col-md-8">
                    <h2 th:text="${users.userList.size()}" class="margin-top-5 margin-bottom-0"></h2>
                    <p>Počet uživatelů</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-4">
                    <i class="fa-tachometer fa-5x color-primary"></i>
                </div>
                <div class="col-md-8">
                    <h2 th:text="${trips.tripList.size()}" class="margin-top-5 margin-bottom-0"></h2>
                    <p>Počet příspěvků</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-4">
                    <i class="fa-users fa-5x color-primary"></i>
                </div>
                <div class="col-md-8">
                    <h2 th:text="${countries}" class="margin-top-5 margin-bottom-0"></h2>
                    <p>Počet navštívených zemí</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container background-white">
        <div class="row margin-vert-30">
            <!-- Main Text -->
            <div class="col-md-12">
                <h2 class="text-center">Welcome to LifeStyle</h2>
                <div th:if="${adminIndex != null}" th:utext="${adminIndex.textOfIndex}"></div>
            </div>
            <!-- End Main Text -->
        </div>
    </div>
    <div class="container background-gray-lighter">


        <div class="container">
            <div class="row padding-vert-40">
                <div class="col-md-12">
                    <h2 class="animate fadeIn text-center">Nebraň se, přidej se!</h2>
                    <p class="animate fadeIn text-center">Společenství se nebrání žádnému nápadu kteréhokoli
                        (ne)člena. Musí přijít s hotovým, nebo rozpracovaným nápadem a termínem.</p>
                    <p class="animate fadeInUp text-center">
                        <a th:href="@{/blog-list}">
                            <button class="btn btn-primary btn-lg" type="button">Vstoupit do blogu</button>
                        </a>

                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- === END CONTENT === -->
<!-- === BEGIN FOOTER === -->
<div th:replace="~{fragments/footer :: footer}"></div>
<!-- End Footer Menu -->
<!-- JS -->

<script src="assets/js/jvector_europe.js" type="text/javascript"></script>
<!-- Isotope - Portfolio Sorting -->
<script type="text/javascript" src="assets/js/jquery.isotope.js"></script>
<!-- Mobile Menu - Slicknav -->
<script type="text/javascript" src="assets/js/jquery.slicknav.js"></script>
<!-- Animate on Scroll-->
<script type="text/javascript" src="assets/js/jquery.visible.js" charset="utf-8"></script>
<!-- Sticky Div -->
<script type="text/javascript" src="assets/js/jquery.sticky.js" charset="utf-8"></script>
<!-- Slimbox2-->
<script type="text/javascript" src="assets/js/slimbox2.js" charset="utf-8"></script>
<!-- Modernizr -->
<script src="assets/js/modernizr.custom.js" type="text/javascript"></script>
<!-- End JS -->
</div>
</body>
</html>
<!-- === END FOOTER === -->