<!-- === BEGIN HEADER === -->
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
>
<!--<![endif]-->

<head th:replace="fragments/importHead :: importTop(title = 'Home')"></head>

<body  onload="getNotifications()">
<div id="body-bg">
    <ul class="social-icons pull-right hidden-xs">
        <li class="social-rss">
            <a href="#" target="_blank" title="RSS"></a>
        </li>
        <li class="social-twitter">
            <a href="#" target="_blank" title="Twitter"></a>
        </li>
        <li class="social-facebook">
            <a href="#" target="_blank" title="Facebook"></a>
        </li>
        <li class="social-googleplus">
            <a href="#" target="_blank" title="GooglePlus"></a>
        </li>
    </ul>
    <div id="pre-header" class="container" style="height: 40px">
        <!-- Spacing above header -->
    </div>

    <!-- Top Menu -->
    <div th:replace="~{fragments/topnav :: navbar}"></div>
    <!-- End Top Menu -->
    <div id="post_header" class="container" style="height: 40px">
        <!-- Spacing below header -->
    </div>
    <div id="content-top-border" class="container">
    </div>
    <!-- === END HEADER === -->
    <!-- === BEGIN CONTENT === -->
    <div id="content">
        <div class="container background-white">
            <div class="row margin-vert-30">
                <!-- Main Column -->
                <div class="col-md-12">
                    <!-- Blog Post -->
                    <div th:if="${!users.userList.isEmpty()}"
                         th:each="user : ${users.userList} " class="blog-post padding-bottom-20">
                        <!-- Blog Item Header -->
                        <div th:if="${#authentication.name != user.nickName}" class="row show-grid">
                            <div class="col-md-4 padding-top-20"
                                th:text="${'Email: ' + user.email}">

                            </div>
                            <div class="col-md-3 padding-top-20"
                                 th:text="${'Přezdívka: ' + user.nickName}">
                            </div>

                            <div class="col-md-3 padding-top-20"
                                 th:text="${'Role: ' + user.roleName}">
                            </div>
                            <div class="col-md-2">
                                <a class="blog-item-header float-right-icon cursor" th:href="@{/admin/userUpdate/__${user.user_id}__}">
                                    <i class="fa fa-pencil-square fa-lg"></i>
                                </a>
                                <a
                                   class="blog-item-header float-right-icon cursor" th:href="@{/admin/__${user.user_id}__/delete}"
                                  >
                                    <i class="fa fa-trash-o fa-lg"></i>
                                </a>
                            </div>

                        </div>
                    </div>
                    <!-- End Blog Item -->

                    <!-- Pagination
                    <ul th:if="${tripsPaged.totalPages > 1}"
                        th:each="pages , iterator: ${tripsPaged.totalPages}"  class="pagination">

                        <li class="active pagination">
                            <a th:text="${iterator.index+1}"
                               th:href="@{/blog-list(page=${iterator.index+1})}"
                               th:class="${ tripsPaged.pageable.getPageNumber() ==iterator.index+1} ? active"></a>
                        </li>


                    </ul>

                    End Pagination -->
                </div>
                <!-- End Main Column -->
                <!-- Side Column -->

                <!-- End Side Column -->
            </div>
        </div>
    </div>
    <!-- === END CONTENT === -->
    <!-- === BEGIN FOOTER === -->
    <div id="content-bottom-border" class="container">
    </div>
    <div id="base">
        <div class="container padding-vert-30 margin-top-60">
            <div class="row">
                <!-- Contact Details -->
                <div class="col-md-4 margin-bottom-20">
                    <h3 class="margin-bottom-10">Contact Details</h3>
                    <p>
                        <span class="fa-phone">Telephone:</span>(212)888-77-88
                        <br>
                        <span class="fa-envelope">Email:</span>
                        <a href="mailto:info@joomla51.com">info@joomla51.com</a>
                        <br>
                        <span class="fa-link">Website:</span>
                        <a href="http://www.joomla51.com">www.joomla51.com</a>
                    </p>
                    <p>The Dunes, Top Road,
                        <br>Strandhill,
                        <br>Co. Sligo,
                        <br>Ireland</p>
                </div>
                <!-- End Contact Details -->
                <!-- Sample Menu -->
                <div class="col-md-3 margin-bottom-20">
                    <h3 class="margin-bottom-10">Sample Menu</h3>
                    <ul class="menu">
                        <li>
                            <a class="fa-tasks" href="#">Placerat facer possim</a>
                        </li>
                        <li>
                            <a class="fa-users" href="#">Quam nunc putamus</a>
                        </li>
                        <li>
                            <a class="fa-signal" href="#">Velit esse molestie</a>
                        </li>
                        <li>
                            <a class="fa-coffee" href="#">Nam liber tempor</a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <!-- End Sample Menu -->
                <div class="col-md-1"></div>
                <!-- Disclaimer -->
                <div class="col-md-3 margin-bottom-20 padding-vert-30 text-center">
                    <h3 class="color-gray margin-bottom-10">Join our Newsletter</h3>
                    <p>
                        Sign up for our newsletter for all the
                        <br>latest news and information
                    </p>
                    <input type="email">
                    <br>
                    <button class="btn btn-primary btn-lg margin-top-20" type="button">Subscribe</button>
                </div>
                <!-- End Disclaimer -->
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- Footer Menu -->
    <div id="footer">
        <div class="container">
            <div class="row">
                <div id="footermenu" class="col-md-8">
                    <ul class="list-unstyled list-inline">
                        <li>
                            <a href="#" target="_blank">Sample Link</a>
                        </li>
                        <li>
                            <a href="#" target="_blank">Sample Link</a>
                        </li>
                        <li>
                            <a href="#" target="_blank">Sample Link</a>
                        </li>
                        <li>
                            <a href="#" target="_blank">Sample Link</a>
                        </li>
                    </ul>
                </div>
                <div id="copyright" class="col-md-4">
                    <p class="pull-right">(c) 2014 Your Copyright Info</p>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer Menu -->
    <!-- JS -->
    <script src="/assets/js/jquery.min.js" type="text/javascript"></script>
    <script th:src="@{/assets/js/custom.js}"></script>
    <script th:src="@{/assets/js/bootstrap.min.js}" type="text/javascript"></script>
    <script type="text/javascript" th:src="@{/assets/js/scripts.js}"></script>
    <!-- Isotope - Portfolio Sorting -->
    <script th:src="@{/assets/js/jquery.isotope.js}" type="text/javascript"></script>
    <!-- Mobile Menu - Slicknav -->
    <script th:src="@{/assets/js/jquery.slicknav.js}" type="text/javascript"></script>
    <!-- Animate on Scroll-->
    <script charset="utf-8" th:src="@{/assets/js/jquery.visible.js}" type="text/javascript"></script>
    <!-- Sticky Div -->
    <script type="text/javascript" th:src="@{/assets/js/jquery.sticky.js}" charset="utf-8"></script>
    <!-- Slimbox2-->
    <script type="text/javascript" th:src="@{/assets/js/slimbox2.js}" charset="utf-8"></script>
    <!-- Modernizr -->
    <script th:src="@{/assets/js/modernizr.custom.js}" type="text/javascript"></script>
    <!-- End JS -->
</div>
</body>
</html>
<!-- === END FOOTER === -->