<!-- === BEGIN HEADER === -->
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<!--<![endif]-->
<head th:replace="fragments/importHead :: importTop(title = 'Trip')">


</head>

<body  onload="getNotifications()">
<div id="body-bg">
    <ul class="social-icons pull-right hidden-xs">
        <li class="social-rss">
            <a href="#" target="_blank" title="RSS"></a>
        </li>
        <li class="social-twitter">
            <a href="#" target="_blank" title="Twitter"></a>
        </li>
        <li class="social-facebook">
            <a href="#" target="_blank" title="Facebook"></a>
        </li>
        <li class="social-googleplus">
            <a href="#" target="_blank" title="GooglePlus"></a>
        </li>
    </ul>
    <div id="pre-header" class="container" style="height: 40px">
        <!-- Spacing above header -->
    </div>

    <!-- Top Menu -->
    <div th:replace="~{fragments/topnav :: navbar}"></div>
    <!-- End Top Menu -->
    <div id="post_header" class="container" style="height: 40px">
        <!-- Spacing below header -->
    </div>
    <div id="content-top-border" class="container">
    </div>
    <!-- === END HEADER === -->
    <!-- === BEGIN CONTENT === -->
    <div th:object="${trip}" id="content">
        <div class="container background-white">
            <div class="row margin-vert-30">
                <!-- Main Column -->
                <div th:if="${trip == null}">prd</div>
                <div th:if="${trip != null}" class="col-md-9">
                    <div class="blog-post">

                        <div class="blog-item-header">
                            <h2 th:text="${trip.getName()}">

                            </h2>
                        </div>
                        <div class="blog-post-details">
                            <!-- Author Name -->
                            <div class="blog-post-details-item blog-post-details-item-left user-icon">
                                <i class="fa fa-user color-gray-light"></i>
                                <a th:text="${trip.getAuthor()}">Admin</a>
                            </div>
                            <!-- End Author Name -->
                            <!-- Date -->
                            <div class="blog-post-details-item blog-post-details-item-left">
                                <i class="fa fa-calendar color-gray-light"></i>
                                <a th:text="${#dates.format(trip.getDateOfAddition(), 'dd-MM-yyyy')}"></a>
                            </div>
                            <!-- End Date -->
                            <!-- Tags -->
                            <div class="blog-post-details-item blog-post-details-item-left blog-post-details-tags">
                                <i class="fa fa-tag color-gray-light"></i>
                                <a th:text="${trip.nameOfCountry}"></a>
                            </div>
                            <!-- End Tags -->
                            <!-- # of Comments -->
                            <div class="blog-post-details-item blog-post-details-item-left blog-post-details-item-last color-gray-light">
                                <a th:text="${trip.getComments().size()}">
                                    <i class="fa fa-comments color-gray-light"></i>

                                </a>
                                Komentáře
                            </div>
                            <!-- End # of Comments -->

                        </div>
                        <div class="blog-item">
                            <div class="clearfix"></div>
                            <div class="blog-post-body row margin-top-15">
                                <div th:if="${trip.file != null}" class="col-md-12">
                                    <a id="path_to_map_gpx" th:href="${trip.file.pathToFile}"></a>
                                    <div id="prd" hidden th:text="${trip.file.nameOfFile}"></div>
                                    <div id="m"></div>
                                    <script th:if="${trip.file != null}">
                                        var valOfGpx = document.getElementById('prd').textContent;
                                        var center = SMap.Coords.fromWGS84(14.41790, 50.12655);
                                        var m = new SMap(JAK.gel("m"), center, 13);
                                        m.addControl(new SMap.Control.Sync()); /* Aby mapa reagovala na změnu velikosti průhledu */
                                        m.addDefaultLayer(SMap.DEF_TURIST).enable(); /* Turistický podklad */
                                        m.addDefaultControls();

                                        var mouse = new SMap.Control.Mouse(SMap.MOUSE_PAN | SMap.MOUSE_WHEEL | SMap.MOUSE_ZOOM); /* Ovládání myší */
                                        m.addControl(mouse);

                                        var xhr = new JAK.Request(JAK.Request.XML);
                                        xhr.setCallback(window, "response");
                                        xhr.send("/uploads/" + valOfGpx);

                                        var response = function (xmlDoc) {
                                            var gpx = new SMap.Layer.GPX(xmlDoc);
                                            m.addLayer(gpx);
                                            gpx.enable();
                                            gpx.fit();
                                        }

                                    </script>

                                </div>
                                <div class="col-md-7">
                                    <p th:utext="${trip.description}"></p>
                                </div>
                                <div class="col-md-12">
                                    <div th:utext="${trip.post}"></div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-10 margin-top-20 margin-bottom-20">
                                    <div th:if="${!trip.photos.isEmpty()}"
                                         th:each="photo, iterator : ${trip.photos}" class="col-sm-1" style="min-width: 150px;">
                                        <a th:href="${photo.pathToFile}"  data-toggle="lightbox" data-gallery="example-gallery" >
                                            <img th:src="${photo.pathToFile}" style="min-width: 140px; height: 140px;" class="img-fluid color-rect-border">
                                        </a>

                                    </div>

                                </div>
                            </div>


                            <div class="blog-item-footer">

                                <!-- End About the Author -->
                                <!-- Comments -->
                                <div class="blog-recent-comments panel panel-default margin-bottom-30">
                                    <div class="panel-heading">
                                        <h3>Komentáře</h3>
                                    </div>
                                    <ul class="list-group">
                                        <div th:if="${trip.getComments()!=null}">
                                            <li th:each="comment :${trip.getComments()}" class="list-group-item">
                                                <div class="row">
                                                    <div class="col-md-2 profile-thumb">
                                                    </div>
                                                    <div class="col-md-10">
                                                        <h4 th:text="${comment.author}"></h4>
                                                        <p th:text="${comment.getTextOfComment()}"></p>
                                                        <span class="date" th:text="${comment.dateOfAddition}">
                                                                <i class="fa fa-clock-o color-gray-light"></i></span>
                                                    </div>
                                                </div>
                                            </li>
                                        </div>
                                        <!-- Comment Form -->
                                        <div th:if="${#authentication.name != 'anonymousUser'}">
                                        <li  class="list-group-item">
                                            <div class="blog-comment-form">
                                                <div class="row margin-top-20">
                                                    <div class="col-md-12">
                                                        <div class="pull-left">
                                                            <h3>Přidat komentář</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row margin-top-20">
                                                    <div class="col-md-12">
                                                        <form th:action="@{/create-comment/__${tripId}__}" method="post">
                                                            <div th:value="${trip.trip_id}" hidden></div>
                                                            <label>Komentář</label>
                                                            <div class="row margin-bottom-20">
                                                                <div class="col-md-11 col-md-offset-0">
                                                                    <textarea class="form-control" rows="8"
                                                                              name="textOfComment"></textarea>
                                                                </div>
                                                            </div>
                                                            <p>
                                                                <button class="btn btn-primary" type="submit">Přidat
                                                                    komentář
                                                                </button>
                                                            </p>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        </div>
                                        <!-- End Comment Form -->
                                    </ul>
                                </div>
                                <!-- End Comments -->
                            </div>
                        </div>
                    </div>
                    <!-- End Blog Post -->
                </div>
                <!-- End Main Column -->
                <!-- Side Column -->

            </div>
        </div>
    </div>
    <!-- === END CONTENT === -->
    <!-- === BEGIN FOOTER === -->
    <div th:replace="~{fragments/footer :: footer}"></div>
    <!-- End Footer Menu -->
    <!-- JS -->
    <script>
        $(document).on('click', '[data-toggle="lightbox"]', function(event) {
        event.preventDefault();
        $(this).ekkoLightbox();
        });
    </script>
    <script th:src="@{/assets/js/custom.js}" type="text/javascript"></script>


    <!-- Isotope - Portfolio Sorting -->
    <script th:src="@{/assets/js/jquery.isotope.js}" type="text/javascript"></script>
    <!-- Mobile Menu - Slicknav -->
    <script th:src="@{/assets/js/jquery.slicknav.js}" type="text/javascript"></script>
    <!-- Animate on Scroll-->
    <script charset="utf-8" th:src="@{/assets/js/jquery.visible.js}" type="text/javascript"></script>
    <!-- Sticky Div -->
    <script type="text/javascript" th:src="@{/assets/js/jquery.sticky.js}" charset="utf-8"></script>
    <!-- Slimbox2-->
    <script type="text/javascript" th:src="@{/assets/js/slimbox2.js}" charset="utf-8"></script>
    <!-- Modernizr -->
    <script th:src="@{/assets/js/modernizr.custom.js}" type="text/javascript"></script>
    <script type="text/javascript" th:src="@{/assets/js/scripts.js}"></script>
</div>       <!-- End JS -->
</body>
</html>
<!-- === END FOOTER === -->