<!-- Carousel Slideshow OR MEINE MAPE-->
<div id="mapaCeskaDoModalu" xmlns:th="http://www.thymeleaf.org">
    <div id="returnToIndex">
        <a class="blog-item-header float-right-icon cursor" onclick="closeModal()">
            <i class="fa fa-times-circle fa-3x"></i>
        </a>
    </div>
    <div id="mapaCeska"></div>
    <script>
        var center = SMap.Coords.fromWGS84(15.41790, 50.12655);
        var m = new SMap(JAK.gel("mapaCeska"), center, 8);
        m.addControl(new SMap.Control.Sync()); /* Aby mapa reagovala na změnu velikosti průhledu */
        m.addDefaultLayer(SMap.DEF_BASE).enable(); /* Turistický podklad */
        var mouse = new SMap.Control.Mouse(SMap.MOUSE_PAN | SMap.MOUSE_WHEEL | SMap.MOUSE_ZOOM); /* Ovládání myší */
        m.addControl(mouse);


        var vrstva = new SMap.Layer.Marker();     /* Vrstva se značkami */
        var souradnice = [];

        var gpsOfCz = $.getJSON("./uploads/gpsOfCz.json", function (data) {
            console.log(data);
            data.forEach(function (marker) {
                var c = SMap.Coords.fromWGS84(marker.coords); /* Souřadnice značky, z textového formátu souřadnic */

                var options = {
                    title: marker.name,
                    anchor: {left: 10, bottom: 1}  /* Ukotvení značky za bod uprostřed dole */
                };
                var znacka = new SMap.Marker(c, marker.id, options);
                souradnice.push(c);
                vrstva.addMarker(znacka);


            });
            m.getSignals().addListener(this, "marker-click", function (e) {
                // vybrany marker
                var marker = e.target;
                var id = marker.getId();
                // zobrazime jeho jmeno - parovani vybraneho markeru pomoci jeho id a nasich vstupnich dat
                for (var i = 0; i < data.length; i++) {
                    if (data[i].id == id) {
                        window.location.href = "/blog-single/" + data[i].id;
                        // alert(data[i].name);
                        break;
                    }
                }
            });
        });

        m.addLayer(vrstva);
        vrstva.enable();

        var response = function (xmlDoc) {
            var souradnice = [];
            var coords = xmlDoc.getElementsByTagName("coord");
            var maxPoints = Math.min(200, coords.length);
            for (var i = 0; i < maxPoints; i++) {
                var index = Math.round(coords.length * (i / maxPoints));
                var node = coords[index];
                var lat = parseFloat(node.getAttribute("lat"));
                var lon = parseFloat(node.getAttribute("lon"));
                var c = SMap.Coords.fromWGS84(lat, lon);
                souradnice.push(c);
            }


            var vrstva = new SMap.Layer.Geometry();     /* Geometrická vrstva */
            m.addLayer(vrstva);                          /* Přidat ji do mapy */
            vrstva.enable();                         /* A povolit */

            var options = {
                color: "transparent",
                opacity: 1,
                outlineColor: "blue",
                outlineOpacity: 0.7,
                outlineWidth: 3,
                curvature: 0
            };
            var polygon = new SMap.Geometry(SMap.GEOMETRY_POLYGON, null, souradnice, options);

            vrstva.addGeometry(polygon);


        };
        var sync = new SMap.Control.Sync({bottomSpace: 30});
        m.addControl(sync);
        var request = new JAK.Request(JAK.Request.XML);
        request.setCallback(window, response);
        request.send("//api.mapy.cz/xml/cr.xml");

    </script>
    <!-- End Carousel Slideshow -->

</div>
