<!-- === BEGIN HEADER === -->
<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>

<!--<![endif]-->
<head th:replace="fragments/importHead :: importTop(title = 'Home')"></head>

<body onload="getIndexPageFunctions()" onresize="getIndexPageFunctions()"  onchange="getIndexPageFunctions()" class="animate fadeIn animated">
<div id="body-bg">
    <ul class="social-icons pull-right hidden-xs">
        <li class="social-rss">
            <a href="#" target="_blank" title="RSS"></a>
        </li>
        <li class="social-twitter">
            <a href="#" target="_blank" title="Twitter"></a>
        </li>
        <li class="social-facebook">
            <a href="#" target="_blank" title="Facebook"></a>
        </li>
        <li class="social-googleplus">
            <a href="#" target="_blank" title="GooglePlus"></a>
        </li>
    </ul>
</div>

<!-- Top Menu -->

<!-- End Top Menu -->

<!-- === END HEADER === -->
<!-- === BEGIN CONTENT === -->

<!-- Carousel Slideshow OR MEINE MAPE-->
<div id="content">
    <div id="world-map"></div>
    <script>
        $(function () {
            $('#world-map').vectorMap({
                map: 'europe_mill',
                series: {
                    regions: [{
                        values: gdpData,
                        scale: 3,
                        normalizeFunction: 'polynomial',

                    }],

                },

                backgroundColor: '#c0e2ec',

                onRegionClick: function (e, code) {
                    if ((countryCodeToName[code] == 'CZ')) {
                        getModalWithData()

                    } else {
                        window.location.href = '/blog-list/' + countryCodeToName[code];
                    }

                },
                onResize: getResolution()
                ,
                zoomOnScroll: false


            });
        });
    </script>
    <!-- End Carousel Slideshow -->
    <div class="container background-white leftSideBar">
        <div class="row margin-vert-30 sideBarHeightCustom">
            <!-- Main Text -->
            <div class="col-md-12 leftSideBarBackgroundColor">
                <h2 class="text-center">Společenstvo Marka Kopeckého</h2>

                <p>Jmenuji se Marek Kopecký,

                    moji podobiznu najdete na sociálních sítích, googlu, nebo jiných expresních vyhledávačích na
                    internetu. Již nějaký pátek zkouším (a docela se i daří) projíždět všemožné kouty Matičky Země,
                    abych probádal a prošel kus světa.
                </p>
                <a th:if="${#authentication.authorities[0].authority == 'ADMIN'}"
                   th:text="${'Správa'}"
                   th:href="@{/blog-list-admin}"
                   class="spravaOnIndex"></a>
                <div th:if="${adminIndex != null}" th:utext="${adminIndex.textOfIndex}"></div>
            </div>
            <!-- End Main Text -->
        </div>
    </div>

</div>

<div class="modal fadeIn" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="modalForMyOwnContext" class="modal-body">

            </div>
        </div>
    </div>
</div>

<!-- === END CONTENT === -->
<!-- === BEGIN FOOTER === -->
<div th:replace="~{fragments/footer :: footer}"></div>
<!-- End Footer Menu -->
<!-- JS -->

<script src="assets/js/jvector_europe.js" type="text/javascript"></script>
<!-- Isotope - Portfolio Sorting -->
<script type="text/javascript" src="assets/js/jquery.isotope.js"></script>
<!-- Mobile Menu - Slicknav -->
<script type="text/javascript" src="assets/js/jquery.slicknav.js"></script>
<!-- Animate on Scroll-->
<script type="text/javascript" src="assets/js/jquery.visible.js" charset="utf-8"></script>
<!-- Sticky Div -->
<script type="text/javascript" src="assets/js/jquery.sticky.js" charset="utf-8"></script>
<!-- Slimbox2-->
<script type="text/javascript" src="assets/js/slimbox2.js" charset="utf-8"></script>
<!-- Modernizr -->
<script src="assets/js/modernizr.custom.js" type="text/javascript"></script>
<!-- End JS -->
</div>
</body>
</html>
<!-- === END FOOTER === -->