<!-- === BEGIN HEADER === -->
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head>
    <!-- Title -->
    <title>Lifestyle - Professional Bootstrap Template</title>
    <!-- Meta -->
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <!-- Favicon -->
    <link href="favicon.ico" rel="shortcut icon">
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.css}">
    <!-- Template CSS -->
    <link rel="stylesheet" th:href="@{/assets/css/animate.css}">
    <link rel="stylesheet" th:href="@{/assets/css/font-awesome.css}">
    <link rel="stylesheet" th:href="@{/assets/css/nexus.css}">
    <link rel="stylesheet" th:href="@{/assets/css/responsive.css}">
    <link rel="stylesheet" th:href="@{/assets/css/custom.css}">
    <!-- Google Fonts-->
    <link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=PT+Sans" type="text/css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,300" rel="stylesheet" type="text/css">
</head>
<body>
<div id="body-bg">
    <ul class="social-icons pull-right hidden-xs">
        <li class="social-rss">
            <a href="#" target="_blank" title="RSS"></a>
        </li>
        <li class="social-twitter">
            <a href="#" target="_blank" title="Twitter"></a>
        </li>
        <li class="social-facebook">
            <a href="#" target="_blank" title="Facebook"></a>
        </li>
        <li class="social-googleplus">
            <a href="#" target="_blank" title="GooglePlus"></a>
        </li>
    </ul>


    <!-- Top Menu -->
    <div th:replace="~{fragments/topnav :: navbar}"></div>
    <!-- End Top Menu -->
    <div id="post_header" class="container" style="height: 40px">
        <!-- Spacing below header -->
    </div>
    <div id="content-top-border" class="container">
    </div>
    <!-- === END HEADER === -->
    <!-- === BEGIN CONTENT === -->
    <div id="content">
        <div class="container background-white">
            <div class="row margin-vert-30">
                <!-- Register Box -->
                <div class="col-md-6 col-md-offset-3 col-sm-offset-3">
                    <form th:action="@{/pages-sign-up}" th:object="${user}" class="signup-page" method="post">
                        <div class="signup-header">
                            <h2>Zaregitrovat se</h2>
                            <p>Už máte účet? Klikněte
                                <a href="#">ZDE</a>pro přihlášení k vašemu účtu.</p>
                        </div>
                        <label>Přezdívka</label>
                        <input th:field="*{nickName}" class="form-control margin-bottom-20" type="text" required>
                        <p th:if="${#fields.hasErrors('nickName')}" th:errors="*{nickName}"></p>

                        <label>Email
                            <span class="color-red">*</span>
                        </label>
                        <input th:field="*{email}" class="form-control margin-bottom-20" type="text" required>
                        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error</p>
                        <div class="row">
                            <div class="col-sm-6">
                                <label>Heslo
                                    <span class="color-red">*</span>
                                </label>
                                <input th:field="*{password}" class="form-control margin-bottom-20" type="password" required>
                                <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Error</p>
                            </div>

                        </div>
                        <hr>
                        <div class="row">

                            <div class="col-lg-4 text-right">
                                <button class="btn btn-primary" type="submit">Registrovat</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- End Register Box -->
            </div>
        </div>
    </div>
    <!-- === END CONTENT === -->
    <!-- === BEGIN FOOTER === -->
    <div th:replace="~{fragments/footer :: footer}"></div>
    <!-- End Footer Menu -->
    <!-- JS -->
    <script th:src="@{/assets/js/jquery.min.js}" type="text/javascript"></script>
    <script th:src="@{/assets/js/bootstrap.min.js}" type="text/javascript"></script>
    <script type="text/javascript" th:src="@{/assets/js/scripts.js}"></script>
    <!-- Isotope - Portfolio Sorting -->
    <script th:src="@{/assets/js/jquery.isotope.js}" type="text/javascript"></script>
    <!-- Mobile Menu - Slicknav -->
    <script th:src="@{/assets/js/jquery.slicknav.js}" type="text/javascript"></script>
    <!-- Animate on Scroll-->
    <script charset="utf-8" th:src="@{/assets/js/jquery.visible.js}" type="text/javascript"></script>
    <!-- Sticky Div -->
    <script type="text/javascript" th:src="@{/assets/js/jquery.sticky.js}" charset="utf-8"></script>
    <!-- Slimbox2-->
    <script type="text/javascript" th:src="@{/assets/js/slimbox2.js}" charset="utf-8"></script>
    <!-- Modernizr -->
    <script th:src="@{/assets/js/modernizr.custom.js}" type="text/javascript"></script>
</div>
</body>
</html>
<!-- === END FOOTER === -->